#maincontaner
{
    height: 600px;
    width:200%;
    margin: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;

}
#main-container > div
{
    width: 50px;

}

#main-container > div:first-child
{
    z-index: 20;
    padding-top: 40px;
    box-shadow: 2px 0 2px rgba(150, 150, 150, 0.9);


}
#main-container>div:last-child {
    background-color: #f1f0f0;
    z-index: 10;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
#left
{
 background-image: url("../lamijas_stuff/background.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;

}